.page-about .main,
.page-about .aside {
  margin-bottom: 2em;
}
.page-about h2 {
  margin-bottom: 0;
  font-size: 1em;
}
.page-about h2 + p {
  margin-top: 0;
}
.page-about ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-about ul.with li {
  display: inline;
}
.page-about ul.with li + li:before {
  content: ' – ';
}
.page-about .partners {
  margin: 1em 0;
}
.page-about .partners .partner-logo {
  display: inline-block;
  height: 64px;
  width: auto;
  padding: 1em;
}
.mnemos-para.para-1 {
  float: left;
}
