body {
  color: #fff;
  background-color: #2e2e2e;
  font-size: 16px;
  font-family: SangBleuSans-Regular-WebS, Serif;
}
a {
  color: #fff;
  text-decoration: none;
}
#page a {
  color: #b0b0b0;
}
#page a:hover {
  color: #fff;
  text-decoration: underline;
}
.hidden {
  display: none;
}
hr {
  border-bottom: none;
  border-top: 1px solid #fff;
}
