.any-video,
.main-video,
.related-video {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-video {
  height: 385px;
}
.related-video {
  display: none;
  height: 115px;
}
.related-video.video-visible {
  display: block;
}
.related-video.video-category-hidden {
  display: none;
}
.related-video .video {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #c0c0c0;
}
.related-video .video .title-container {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 1em;
}
.related-video .video .title-container h3 {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
}
.related-video.current-category .title-container h3 small {
  display: none;
}
.video-category-hidden {
  display: none;
}
