<!-- inject:js -->
<script src="{{ site.baseurl }}/vendor/lodash.js"></script>
<script src="{{ site.baseurl }}/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/vendor/jquery.smooth-scroll.js"></script>
<script src="{{ site.baseurl }}/vendor/shuffle.js"></script>
<script src="{{ site.baseurl }}/vendor/vimeo.js"></script>
<script src="{{ site.baseurl }}/js/header.js"></script>
<script src="{{ site.baseurl }}/js/hhpp.js"></script>
<script src="{{ site.baseurl }}/js/log.js"></script>
<script src="{{ site.baseurl }}/js/sidemenu.js"></script>
<script src="{{ site.baseurl }}/js/videos.js"></script>
<!-- endinject -->
