<div id="hhpp-videos">
  <div class="grid-25 tablet-grid-50 mobile-grid-100 video-sizer-element"></div>

  <div class="main-video video-container grid-75 tablet-grid-100 mobile-grid-100" data-video-category="{{ page.video.category }}" data-video="{{ page.video.key }}">
    <iframe src="https://player.vimeo.com/video/{{ page.video.video_id }}?title=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  {% for video in site.data.hhpp.videos %}
    {% if video.key != page.video.key %}
      {% include related_video.html %}
    {% endif %}
  {% endfor %}
</div>
