<nav id="site-sidemenu">
  <ul{% if page.video_category %} class="video-category-active"{% endif %}>
    {% for category in site.data.hhpp.categories %}
      <li{% if page.video_category.key == category.key %} class="active"{% endif %}>
        <a class="video-link" href="/{{ category.key | prepend: site.baseurl }}" data-page-type="category" data-video-category="{{ category.key }}">{{ category.title }}</a>
      </li>
    {% endfor %}
    <li class="all {% unless page.video_category %} hidden{% endunless %}">
      <a class="video-link" href="{{ site.baseurl }}/">&lt; Voir toutes les vidéos</a>
    </li>
  </ul>

  <hr />

  <p><a href="/a-propos">Le projet</a></p>
</nav>
