<nav id="site-sidemenu" class="show-noscript-block">
  <ul{% if page.video_category %} class="video-category-active"{% endif %}>
    {% for category in site.data.hhpp.categories %}
      <li{% if page.video_category.key == category.key %} class="active"{% endif %}>
        <a class="video-link" href="{{ category.videos[0].path_in_category | prepend: site.baseurl }}" data-page-type="category" data-video-category="{{ category.key }}">{{ category.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <hr />

  <p><a href="/a-propos">Le projet</a></p>

  <hr class="hide-on-tablet hide-on-desktop" />
</nav>
