.page-about

  .main, .aside
    margin-bottom 2em

  h2
    margin-bottom 0
    font-size 1em

  h2 + p
    margin-top 0

  ul
    margin 0
    padding 0
    list-style-type none

  ul.with
    li
      display inline
    li + li:before
        content: ' – '
