@font-face
  font-family 'SangBleuSans-Regular-WebS'
  src url('../fonts/SangBleuSans-Regular-WebS.eot') /* IE9 Compat Modes */
  src url('../fonts/SangBleuSans-Regular-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SangBleuSans-Regular-WebS.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SangBleuSans-Regular-WebS.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SangBleuSans-Regular-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SangBleuSans-Regular-WebS.svg#SangBleuSans-Regular-WebS') format('svg') /* Legacy iOS */
