@require 'mixins/variables'

body
  color $font-color
  background-color $background-color
  font-size $font-size
  font-family $font-family, Serif

a
  color $link-color
  text-decoration none

#page a
  color $inactive-link-color
  &:hover
      color $link-color
      text-decoration underline

.hidden
  display none


hr
  border-bottom none
  border-top  1px solid white
