@require 'mixins/variables'



// Side menu on all pages
#site-sidemenu
  margin-top 10px
  a
    color $inactive-link-color
    &:hover
      color $link-color
      text-decoration underline
  p a
    color $link-color

  ul
    margin 0
    padding 0
    list-style-type none

    li
      margin-bottom 1em

      &.hidden
        display none


// Side menu on home and video pages (body class video)
.video #site-sidemenu

  ul
    li
      a
        color $link-color
        text-decoration none
        &:hover
          color $link-hover-color
          text-decoration underline

    &.video-category-active
      li
        a
          color $inactive-link-color
          &:hover
            color $link-color
        &.active
          a
            color $link-color
            &:hover
              color $link-color
              text-decoration none



@media (max-width: $mobile-grid-max-size)
  #site-sidemenu
    display none
