<!DOCTYPE html>
<html>

  {% include head.html %}

  <body{% if page.video_category %} class="video video-{{ page.video.key }}"{% endif %}>

    <div class="grid-container">
      <div class="grid-100">
        {% include header.html %}
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">

        <div class="grid-container">

          <div class="grid-20 tablet-grid-20">
            {% include sidemenu.html %}
          </div>

          <div class="grid-80 tablet-grid-80 grid-parent">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include templates.html %}

  </body>

</html>
