$background-color = #2e2e2e

$font-family = SangBleuSans-Regular-WebS
$font-color = #ffffff

$link-color = #ffffff
$link-hover-color = #d0d0d0
$inactive-link-color = #c0c0c0

$font-size = 16px

$tablet-grid-min-size = 768px
$tablet-grid-max-size = 1024px
$mobile-grid-max-size = $tablet-grid-min-size - 1
$desktop-grid-min-size = $tablet-grid-max-size + 1
